// Careers Listing Styles
#careers-api {
	.filters-section {
		.filter-category {
			display: inline-block;
			padding: 0 15px;
			width: 50%;
			vertical-align: top;
			.job-filter {
				display: inline-block;
				margin-right: 5px;
				&.active {
					font-weight: bold;
				}
			}
		}
	}
	.sorting-section {
		&:after {
	        content: "";
	        display: block;
	        height: 0;
	        clear: both;
	    }
		form {
			float: right;
			label {
				display: block;
			}
		}
	}
	.jobs-list {
		&.filtered {
			.job {
				&:not(.match) {
					display: none;
				}
			}
		}
	}
}